<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.account.ibatis.PrivilegeMapper">

    <sql id="PrivilegeColumns">
        `id`,
        `guid`,
        `token`,
        `name`,
        `privilege_code` AS `privilegeCode`,
        `create_time` AS `createTime`,
        `update_time` AS `updateTime`,
        `type`,
        `parent_priv_guid` AS `parentPrivGuid`
    </sql>

    <insert id="insert">
        INSERT INTO `hydra_account_privilege`
        (
            `guid`,
            `name`,
            `privilege_code`,
            `create_time`,
            `update_time`,
            `type`,
            `parent_priv_guid`,
            `token`
        )
        VALUES
        (
            #{guid},
            #{name},
            #{privilegeCode},
            #{createTime},
            #{updateTime},
            #{type},
            #{parentPrivGuid},
            #{token}
        )
    </insert>

    <update id="update">
        UPDATE `hydra_account_privilege`
        SET
            `name` = #{name},
            `privilege_code` = #{privilegeCode},
            `update_time` = #{updateTime},
            `type` = #{type},
            `parent_priv_guid` = #{parentPrivGuid},
            `token` = #{token}
        WHERE `guid` = #{guid}
    </update>

    <delete id="remove">
        DELETE FROM `hydra_account_privilege`
        WHERE `guid` = #{privilegeGuid}
    </delete>

    <select id="queryAllPrivileges" resultType="com.pinecone.hydra.account.entity.GenericPrivilege">
        SELECT
            <include refid="PrivilegeColumns"/>
        FROM `hydra_account_privilege`
    </select>

    <select id="queryPrivilege" resultType="com.pinecone.hydra.account.entity.GenericPrivilege">
        SELECT
            <include refid="PrivilegeColumns"/>
        FROM `hydra_account_privilege`
        WHERE `guid` = #{guid}
    </select>

</mapper>
