<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.file.ibatis.fat.FileChunkLocationMapper">

    <insert id="insert">
        INSERT INTO `hydra_uofs_fat_chunk_location` ( `guid`, `chunk_guid`, `bucket_guid`, `replica_no`, `volume_guid`, `location_type`, `object_key`, `object_offset`, `volume_offset`, `length_bytes`, `storage_key`, `version`, `ext_config` ) VALUES ( #{guid}, #{chunkGuid}, #{bucketGuid}, #{replicaNo}, #{volumeGuid}, #{locationType}, #{objectKey}, #{objectOffset}, #{volumeOffset}, #{lengthBytes}, #{storageKey}, #{version}, #{extConfig} )
    </insert>

    <update id="update">
        UPDATE `hydra_uofs_fat_chunk_location` SET `bucket_guid` = #{bucketGuid}, `volume_guid` = #{volumeGuid}, `location_type` = #{locationType}, `object_key` = #{objectKey}, `object_offset` = #{objectOffset}, `volume_offset` = #{volumeOffset}, `length_bytes` = #{lengthBytes}, `storage_key` = #{storageKey}, `version` = #{version}, `ext_config` = #{extConfig} WHERE `guid` = #{guid}
    </update>

    <delete id="remove">
        DELETE FROM `hydra_uofs_fat_chunk_location` WHERE `guid` = #{guid}
    </delete>

    <delete id="removeByChunkGuid">
        DELETE FROM `hydra_uofs_fat_chunk_location` WHERE `chunk_guid` = #{chunkGuid}
    </delete>

    <delete id="removeByFileGuid">
        DELETE FROM `hydra_uofs_fat_chunk_location` WHERE `chunk_guid` IN ( SELECT `guid` FROM `hydra_uofs_fat_chunk` WHERE `file_guid` = #{fileGuid} )
    </delete>

    <select id="get" resultType="com.pinecone.hydra.storage.file.fat.entity.GenericFileChunkLocation">
        SELECT `id`, `guid`, `chunk_guid` AS chunkGuid, `bucket_guid` AS bucketGuid, `replica_no` AS replicaNo, `volume_guid` AS volumeGuid, `location_type` AS locationType, `object_key` AS objectKey, `object_offset` AS objectOffset, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `storage_key` AS storageKey, `version`, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_fat_chunk_location` WHERE `guid` = #{guid}
    </select>

    <select id="getReadyLocation" resultType="com.pinecone.hydra.storage.file.fat.entity.GenericFileChunkLocation">
        SELECT `id`, `guid`, `chunk_guid` AS chunkGuid, `bucket_guid` AS bucketGuid, `replica_no` AS replicaNo, `volume_guid` AS volumeGuid, `location_type` AS locationType, `object_key` AS objectKey, `object_offset` AS objectOffset, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `storage_key` AS storageKey, `version`, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_fat_chunk_location` WHERE `chunk_guid` = #{chunkGuid} ORDER BY `replica_no` ASC LIMIT 1
    </select>

    <select id="listByChunkGuid" resultType="com.pinecone.hydra.storage.file.fat.entity.GenericFileChunkLocation">
        SELECT `id`, `guid`, `chunk_guid` AS chunkGuid, `bucket_guid` AS bucketGuid, `replica_no` AS replicaNo, `volume_guid` AS volumeGuid, `location_type` AS locationType, `object_key` AS objectKey, `object_offset` AS objectOffset, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `storage_key` AS storageKey, `version`, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_fat_chunk_location` WHERE `chunk_guid` = #{chunkGuid} ORDER BY `replica_no` ASC
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT( `id` ) FROM `hydra_uofs_fat_chunk_location`
    </select>

    <select id="countByBucketGuid" resultType="long">
        SELECT COUNT( `id` ) FROM `hydra_uofs_fat_chunk_location` WHERE `bucket_guid` = #{bucketGuid}
    </select>

    <select id="countByVolumeGuid" resultType="long">
        SELECT COUNT( `id` ) FROM `hydra_uofs_fat_chunk_location` WHERE `volume_guid` = #{volumeGuid}
    </select>

    <select id="listPage" resultType="com.pinecone.hydra.storage.file.fat.entity.GenericFileChunkLocation">
        SELECT `id`, `guid`, `chunk_guid` AS chunkGuid, `bucket_guid` AS bucketGuid, `replica_no` AS replicaNo, `volume_guid` AS volumeGuid, `location_type` AS locationType, `object_key` AS objectKey, `object_offset` AS objectOffset, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `storage_key` AS storageKey, `version`, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_fat_chunk_location` ORDER BY `id` ASC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getMaxEndOffsetByVolumeGuid" resultType="java.lang.Long">
        SELECT MAX( `volume_offset` + `length_bytes` ) FROM `hydra_uofs_fat_chunk_location` WHERE `volume_guid` = #{volumeGuid} AND `location_type` = 'VOLUME_BLOCK_EXTENT'
    </select>

    <select id="sumLengthByBucketGuid" resultType="java.lang.Long">
        SELECT COALESCE( SUM( `length_bytes` ), 0 ) FROM `hydra_uofs_fat_chunk_location` WHERE `bucket_guid` = #{bucketGuid}
    </select>

    <delete id="deleteByBucketGuid">
        DELETE FROM `hydra_uofs_fat_chunk_location` WHERE `bucket_guid` = #{bucketGuid}
    </delete>

</mapper>
