<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.file.ibatis.ExternalSymbolicMapper">

    <insert id="insert">
        INSERT INTO `hydra_uofs_symbolic`
            (`guid`, `bucket_guid`, `create_time`, `update_time`, `name`, `symbolic_type`, `reparsed_point`, `target_scheme`, `ext_config`)
        VALUES
            (#{guid}, #{bucketGuid}, #{createTime}, #{updateTime}, #{name}, 'EXTERNAL', #{reparsedPoint}, 'FILE', #{extConfig})
    </insert>

    <delete id="remove">
        DELETE FROM `hydra_uofs_symbolic` WHERE `guid` = #{guid} AND `symbolic_type` = 'EXTERNAL'
    </delete>

    <update id="rename">
        UPDATE `hydra_uofs_symbolic`
        SET `name` = #{newName}
        WHERE `guid` = #{guid} AND `symbolic_type` = 'EXTERNAL' AND `target_scheme` = 'FILE'
    </update>

    <select id="getSymbolicByGuid" resultType="com.pinecone.hydra.storage.file.entity.GenericExternalSymbolic">
        SELECT `id` AS enumId, `guid`, `bucket_guid` AS bucketGuid, `create_time` AS createTime, `update_time` AS updateTime, `name`,
               `reparsed_point` AS reparsedPoint, `target_scheme` AS targetScheme, `ext_config` AS extConfig
        FROM `hydra_uofs_symbolic`
        WHERE `guid` = #{guid} AND `symbolic_type` = 'EXTERNAL' AND `target_scheme` = 'FILE'
    </select>

    <select id="getSymbolicByNameGuid" resultType="com.pinecone.hydra.storage.file.entity.GenericExternalSymbolic">
        SELECT `id` AS enumId, `guid`, `bucket_guid` AS bucketGuid, `create_time` AS createTime, `update_time` AS updateTime, `name`,
               `reparsed_point` AS reparsedPoint, `target_scheme` AS targetScheme, `ext_config` AS extConfig
        FROM `hydra_uofs_symbolic`
        WHERE `guid` = #{guid} AND `name` = #{nodeName} AND `symbolic_type` = 'EXTERNAL' AND `target_scheme` = 'FILE'
    </select>

    <select id="isSymbolicMatchedByNameGuid" resultType="boolean">
        SELECT COUNT(*) FROM `hydra_uofs_symbolic`
        WHERE `guid` = #{guid} AND `name` = #{nodeName} AND `symbolic_type` = 'EXTERNAL' AND `target_scheme` = 'FILE'
    </select>

    <sql id="ExternalFileSymbolicFilter">
        <where>
            `symbolic_type` = 'EXTERNAL'
            AND `target_scheme` = 'FILE'
            <if test="keyword != null and keyword != ''">
                AND (
                    `name` LIKE CONCAT('%', #{keyword}, '%')
                    OR `reparsed_point` LIKE CONCAT('%', #{keyword}, '%')
                    OR CAST(`guid` AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <select id="listPage" resultType="com.pinecone.hydra.storage.file.entity.GenericExternalSymbolic">
        SELECT `id` AS enumId, `guid`, `bucket_guid` AS bucketGuid, `create_time` AS createTime, `update_time` AS updateTime, `name`,
               `reparsed_point` AS reparsedPoint, `target_scheme` AS targetScheme, `ext_config` AS extConfig
        FROM `hydra_uofs_symbolic`
        <include refid="ExternalFileSymbolicFilter"/>
        ORDER BY `id` DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM `hydra_uofs_symbolic`
        <include refid="ExternalFileSymbolicFilter"/>
    </select>

    <select id="countByBucketGuid" resultType="long">
        SELECT COUNT( `id` ) FROM `hydra_uofs_symbolic` WHERE `bucket_guid` = #{bucketGuid} AND `symbolic_type` = 'EXTERNAL' AND `target_scheme` = 'FILE'
    </select>

    <delete id="deleteByBucketGuid">
        DELETE FROM `hydra_uofs_symbolic` WHERE `bucket_guid` = #{bucketGuid} AND `symbolic_type` = 'EXTERNAL' AND `target_scheme` = 'FILE'
    </delete>

</mapper>
