<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.file.ibatis.FilePathCacheMapper">

    <insert id="insert">
        INSERT INTO `hydra_uofs_node_cache_path` ( `bucket_guid`, `path`, `guid` )
        SELECT `bucket_guid`, #{path}, #{guid} FROM `hydra_uofs_nodes` WHERE `guid` = #{guid}
    </insert>

    <insert id="insertLongPath">
        INSERT INTO `hydra_uofs_node_cache_path` ( `bucket_guid`, `path`, `long_path`, `guid` )
        SELECT `bucket_guid`, #{path}, #{longPath}, #{guid} FROM `hydra_uofs_nodes` WHERE `guid` = #{guid}
    </insert>

    <delete id="remove">
        DELETE FROM `hydra_uofs_node_cache_path` WHERE `guid`=#{guid}
    </delete>

    <select id="countPathCacheByBucketGuid" resultType="long">
        SELECT COUNT( `id` ) FROM `hydra_uofs_node_cache_path` WHERE `bucket_guid` = #{bucketGuid}
    </select>

    <delete id="deletePathCacheByBucketGuid">
        DELETE FROM `hydra_uofs_node_cache_path` WHERE `bucket_guid` = #{bucketGuid}
    </delete>

    <select id="getLongPath" resultType="java.lang.String">
        SELECT `long_path` FROM `hydra_uofs_node_cache_path` WHERE `guid`=#{guid}
    </select>

    <select id="getPath0" resultType="java.lang.String">
        SELECT `path` FROM `hydra_uofs_node_cache_path` WHERE `guid`=#{guid}
    </select>

    <select id="getNode" resultType="com.pinecone.framework.util.id.GUID">
        SELECT `guid` FROM `hydra_uofs_node_cache_path` WHERE `guid`=#{guid}
    </select>

    <select id="queryGUIDByPath" resultType="com.pinecone.framework.util.id.GUID">
        SELECT `guid` FROM `hydra_uofs_node_cache_path` WHERE `path`=#{path}
    </select>

</mapper>
