<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.file.ibatis.journal.JournalItemMapper">

    <insert id="insert">
        INSERT INTO `hydra_uofs_journal_item` ( `guid`, `journal_guid`, `item_type`, `item_status`, `target_guid`, `file_guid`, `chunk_guid`, `location_guid`, `volume_guid`, `object_key`, `volume_offset`, `length_bytes`, `ordinal_no`, `old_payload`, `new_payload`, `ext_config` ) VALUES ( #{guid}, #{journalGuid}, #{itemType}, #{itemStatus}, #{targetGuid}, #{fileGuid}, #{chunkGuid}, #{locationGuid}, #{volumeGuid}, #{objectKey}, #{volumeOffset}, #{lengthBytes}, #{ordinalNo}, #{oldPayload}, #{newPayload}, #{extConfig} )
    </insert>

    <update id="updateStatus">
        UPDATE `hydra_uofs_journal_item` SET `item_status` = #{itemStatus} WHERE `guid` = #{guid}
    </update>

    <select id="get" resultType="com.pinecone.hydra.storage.file.journal.GenericJournalItem">
        SELECT `id`, `guid`, `journal_guid` AS journalGuid, `item_type` AS itemType, `item_status` AS itemStatus, `target_guid` AS targetGuid, `file_guid` AS fileGuid, `chunk_guid` AS chunkGuid, `location_guid` AS locationGuid, `volume_guid` AS volumeGuid, `object_key` AS objectKey, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `ordinal_no` AS ordinalNo, `old_payload` AS oldPayload, `new_payload` AS newPayload, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_journal_item` WHERE `guid` = #{guid}
    </select>

    <select id="listByJournalGuid" resultType="com.pinecone.hydra.storage.file.journal.GenericJournalItem">
        SELECT `id`, `guid`, `journal_guid` AS journalGuid, `item_type` AS itemType, `item_status` AS itemStatus, `target_guid` AS targetGuid, `file_guid` AS fileGuid, `chunk_guid` AS chunkGuid, `location_guid` AS locationGuid, `volume_guid` AS volumeGuid, `object_key` AS objectKey, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `ordinal_no` AS ordinalNo, `old_payload` AS oldPayload, `new_payload` AS newPayload, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_journal_item` WHERE `journal_guid` = #{journalGuid} ORDER BY `ordinal_no` ASC
    </select>

    <select id="listByJournalGuidAndStatus" resultType="com.pinecone.hydra.storage.file.journal.GenericJournalItem">
        SELECT `id`, `guid`, `journal_guid` AS journalGuid, `item_type` AS itemType, `item_status` AS itemStatus, `target_guid` AS targetGuid, `file_guid` AS fileGuid, `chunk_guid` AS chunkGuid, `location_guid` AS locationGuid, `volume_guid` AS volumeGuid, `object_key` AS objectKey, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `ordinal_no` AS ordinalNo, `old_payload` AS oldPayload, `new_payload` AS newPayload, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_journal_item` WHERE `journal_guid` = #{journalGuid} AND `item_status` = #{itemStatus} ORDER BY `ordinal_no` ASC
    </select>

    <select id="listByJournalGuidAndType" resultType="com.pinecone.hydra.storage.file.journal.GenericJournalItem">
        SELECT `id`, `guid`, `journal_guid` AS journalGuid, `item_type` AS itemType, `item_status` AS itemStatus, `target_guid` AS targetGuid, `file_guid` AS fileGuid, `chunk_guid` AS chunkGuid, `location_guid` AS locationGuid, `volume_guid` AS volumeGuid, `object_key` AS objectKey, `volume_offset` AS volumeOffset, `length_bytes` AS lengthBytes, `ordinal_no` AS ordinalNo, `old_payload` AS oldPayload, `new_payload` AS newPayload, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_journal_item` WHERE `journal_guid` = #{journalGuid} AND `item_type` = #{itemType} ORDER BY `ordinal_no` ASC
    </select>

</mapper>
