<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.file.ibatis.journal.JournalMapper">

    <insert id="insert">
        INSERT INTO `hydra_uofs_journal` ( `guid`, `journal_type`, `journal_status`, `file_guid`, `path`, `operator_guid`, `begin_time`, `commit_time`, `error_message`, `ext_config` ) VALUES ( #{guid}, #{journalType}, #{journalStatus}, #{fileGuid}, #{path}, #{operatorGuid}, #{beginTime}, #{commitTime}, #{errorMessage}, #{extConfig} )
    </insert>

    <update id="updateStatus">
        UPDATE `hydra_uofs_journal` SET `journal_status` = #{journalStatus}, `error_message` = #{errorMessage} WHERE `guid` = #{guid}
    </update>

    <update id="commit">
        UPDATE `hydra_uofs_journal` SET `journal_status` = 'COMMITTED', `commit_time` = CURRENT_TIMESTAMP WHERE `guid` = #{guid}
    </update>

    <select id="get" resultType="com.pinecone.hydra.storage.file.journal.GenericJournal">
        SELECT `id`, `guid`, `journal_type` AS journalType, `journal_status` AS journalStatus, `file_guid` AS fileGuid, `path`, `operator_guid` AS operatorGuid, `begin_time` AS beginTime, `commit_time` AS commitTime, `error_message` AS errorMessage, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_journal` WHERE `guid` = #{guid}
    </select>

    <select id="listByStatus" resultType="com.pinecone.hydra.storage.file.journal.GenericJournal">
        SELECT `id`, `guid`, `journal_type` AS journalType, `journal_status` AS journalStatus, `file_guid` AS fileGuid, `path`, `operator_guid` AS operatorGuid, `begin_time` AS beginTime, `commit_time` AS commitTime, `error_message` AS errorMessage, `ext_config` AS extConfig, `create_time` AS createTime, `update_time` AS updateTime FROM `hydra_uofs_journal` WHERE `journal_status` = #{journalStatus} ORDER BY `id` ASC
    </select>

</mapper>
