<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.deploy.ibatis.VirtualMachineMapper">

    <resultMap id="VirtualMachineMap" type="com.pinecone.hydra.deploy.kom.entity.GenericVirtualMachineElement">
        <id column="id" property="enumId"/>
        <result column="guid" property="guid"/>
        <result column="name" property="name"/>
        <result column="alias" property="alias"/>
        <result column="description" property="description"/>
        <result column="extra_information" property="extraInformation"/>
        <result column="resource_type" property="resourceType"/>
        <result column="device_type" property="deviceType"/>
        <result column="vendor" property="vendor"/>
        <result column="model" property="model"/>
        <result column="serial_number" property="serialNumber"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="status" property="status"/>
        <result column="affiliate_host_guid" property="affiliateHostGuid"/>
        <result column="image_name" property="imageName"/>
        <result column="os_name" property="osName"/>
        <result column="cpu_arch" property="cpuArch"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="VirtualMachineColumns">
        id, guid, name, alias, description, extra_information, resource_type, device_type,
        vendor, model, serial_number, ip_address, status, affiliate_host_guid, image_name,
        os_name, cpu_arch, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.pinecone.hydra.deploy.kom.entity.VirtualMachineElement">
        INSERT INTO hydra_deploy_virtual_machine
            (guid, name, alias, description, extra_information, resource_type, device_type,
             vendor, model, serial_number, ip_address, status, affiliate_host_guid, image_name,
             os_name, cpu_arch, create_time, update_time)
        VALUES
            (#{guid}, #{name}, #{alias}, #{description}, #{extraInformation}, #{resourceType}, #{deviceType},
             #{vendor}, #{model}, #{serialNumber}, #{ipAddress}, #{status}, #{affiliateHostGuid}, #{imageName},
             #{osName}, #{cpuArch}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.pinecone.hydra.deploy.kom.entity.VirtualMachineElement">
        UPDATE hydra_deploy_virtual_machine
        SET
            name = #{name},
            alias = #{alias},
            description = #{description},
            extra_information = #{extraInformation},
            resource_type = #{resourceType},
            device_type = #{deviceType},
            vendor = #{vendor},
            model = #{model},
            serial_number = #{serialNumber},
            ip_address = #{ipAddress},
            status = #{status},
            affiliate_host_guid = #{affiliateHostGuid},
            image_name = #{imageName},
            os_name = #{osName},
            cpu_arch = #{cpuArch},
            update_time = #{updateTime}
        WHERE guid = #{guid}
    </update>

    <delete id="remove">
        DELETE FROM hydra_deploy_virtual_machine WHERE guid = #{guid}
    </delete>

    <select id="getDeployNode0" resultMap="VirtualMachineMap">
        SELECT <include refid="VirtualMachineColumns"/>
        FROM hydra_deploy_virtual_machine
        WHERE guid = #{guid}
    </select>

    <select id="getGuidsByName" resultType="com.pinecone.framework.util.id.GUID">
        SELECT guid FROM hydra_deploy_virtual_machine WHERE name = #{name}
    </select>

    <select id="getGuidsByNameID" resultType="com.pinecone.framework.util.id.GUID">
        SELECT guid FROM hydra_deploy_virtual_machine WHERE name = #{name} AND guid != #{guid}
    </select>
</mapper>
