<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.service.ibatis.NamespaceRulesMapper">

    <resultMap id="NamespaceRulesMap" type="com.pinecone.hydra.service.kom.GenericNamespaceRules">
        <id     column="id"           property="enumId"/>
        <result column="guid"         property="guid"/>
        <result column="scope"        property="scope"/>
        <result column="name"         property="name"/>
        <result column="description"  property="description"/>
    </resultMap>

    <insert id="insert" parameterType="com.pinecone.hydra.service.kom.GenericNamespaceRules">
        INSERT INTO `hydra_service_namespace_rules`
        (
            `guid`,
            `scope`,
            `name`,
            `description`
        )
        VALUES
        (
            #{guid},
            #{scope},
            #{name},
            #{description}
        )
    </insert>

    <delete id="remove">
        DELETE FROM `hydra_service_namespace_rules`
        WHERE `guid` = #{guid}
    </delete>

    <select id="getNamespaceRules" resultMap="NamespaceRulesMap">
        SELECT
            `id`,
            `guid`,
            `scope`,
            `name`,
            `description`
        FROM `hydra_service_namespace_rules`
        WHERE `guid` = #{guid}
    </select>

    <update id="update" parameterType="com.pinecone.hydra.service.kom.GenericNamespaceRules">
        UPDATE `hydra_service_namespace_rules`
        SET
            `scope` = #{scope},
            `name` = #{name},
            `description` = #{description}
        WHERE `guid` = #{guid}
    </update>

    <update id="updateScope">
        UPDATE `hydra_service_namespace_rules`
        SET `scope` = #{scope}
        WHERE `guid` = #{guid}
    </update>

    <update id="updateName">
        UPDATE `hydra_service_namespace_rules`
        SET `name` = #{name}
        WHERE `guid` = #{guid}
    </update>

    <update id="updateDescription">
        UPDATE `hydra_service_namespace_rules`
        SET `description` = #{description}
        WHERE `guid` = #{guid}
    </update>

</mapper>
