<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinecone.hydra.service.ibatis.ServiceInstanceMapper">

    <resultMap id="ServiceInstanceMap" type="com.pinecone.hydra.service.kom.entity.GenericServiceInstanceEntity">
        <id     column="guid"               property="guid"/>
        <result column="service_guid"       property="serviceGuid"/>
        <result column="status"             property="status"/>
        <result column="latest_start_time"  property="latestStartTime"/>
        <result column="latest_end_time"    property="latestEndTime"/>
        <result column="error_cause"        property="errorCause"/>
        <result column="run_count"          property="runCount"/>
        <result column="deploy_guid"        property="deployGuid"/>
        <result column="ip"                 property="ip"/>
    </resultMap>

    <insert id="initServiceInstance" parameterType="com.pinecone.hydra.service.kom.entity.ServiceInstanceEntry">
        INSERT INTO `hydra_service_instances`
        (
            `service_guid`,
            `guid`,
            `status`,
            `latest_start_time`,
            `latest_end_time`,
            `error_cause`,
            `run_count`,
            `deploy_guid`,
            `ip`
        )
        VALUES
        (
            #{serviceGuid},
            #{guid},
            #{status},
            #{latestStartTime},
            #{latestEndTime},
            #{errorCause},
            #{runCount},
            #{deployGuid},
            #{ip}
        )
    </insert>

    <select id="queryServiceInstance" resultMap="ServiceInstanceMap">
        SELECT
            `service_guid`,
            `guid`,
            `status`,
            `latest_start_time`,
            `latest_end_time`,
            `error_cause`,
            `run_count`,
            `deploy_guid`,
            `ip`
        FROM `hydra_service_instances`
        WHERE `guid` = #{instanceId}
    </select>

    <update id="updateServiceInstance" parameterType="com.pinecone.hydra.service.kom.entity.ServiceInstanceEntry">
        UPDATE `hydra_service_instances`
        SET
            `status` = #{status},
            `run_count` = #{runCount}
        WHERE `guid` = #{guid}
    </update>

</mapper>
