<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walnut.odin.task.mapper.InstanceAtlasNodeMapper">

    <insert id="insert" parameterType="com.walnut.odin.conduct.entity.GenericInstanceAtlasNode">
        INSERT INTO odin_task_instance_atlas_nodes (
            guid,
            instance_guid,
            node_name,
            is_isolated
        ) VALUES (
                     #{guid},
                     #{instanceGuid},
                     #{nodeName},
                     #{isIsolated}
                 )
    </insert>

    <select id="fetchDependencyBlockages" resultType="com.walnut.odin.conduct.schedule.entity.GenericDependencyBlockage">
        SELECT
            child_node.`instance_guid` AS `instanceGuid`,
            parent_instance.`guid`     AS `dependentInstanceGuid`
        FROM `odin_task_instance_atlas_nodes` AS child_node
                 JOIN `odin_taks_ins_atlas_adjacent` AS instance_edge
                      ON instance_edge.`guid` = child_node.`guid`
                 JOIN `hydra_task_instances` AS parent_instance
                      ON parent_instance.`guid` = instance_edge.`parent_guid`
        WHERE child_node.`instance_guid` IN
        <foreach collection="instanceGuids" item="instanceGuid" open="(" separator="," close=")">
            #{instanceGuid}
        </foreach>
          AND (
              parent_instance.`run_status` IS NULL
              OR parent_instance.`run_status` != #{finishedStatus}
          )
    </select>

</mapper>
