<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walnut.odin.task.mapper.InstanceLineageNodeMapper">

    <resultMap id="InstanceLineageNodeMap" type="com.walnut.odin.conduct.entity.GenericInstanceLineageNode">
        <result column="guid"          property="guid"/>
        <result column="instance_guid" property="instanceGuid"/>
        <result column="node_name"     property="nodeName"/>
        <result column="is_source"     property="source"/>
    </resultMap>

    <insert id="insert" parameterType="com.walnut.odin.conduct.entity.GenericInstanceLineageNode">
        INSERT INTO odin_atlas_task_instance_lineage_nodes (
            guid,
            instance_guid,
            node_name,
            is_source
        ) VALUES (
                     #{guid},
                     #{instanceGuid},
                     #{nodeName},
                     #{source}
                 )
    </insert>

    <update id="updateSourceByGuid">
        UPDATE odin_atlas_task_instance_lineage_nodes
        SET is_source = #{source}
        WHERE guid = #{guid}
    </update>

    <select id="queryByInstanceGuid" resultMap="InstanceLineageNodeMap">
        SELECT
            `guid`,
            `instance_guid`,
            `node_name`,
            `is_source`
        FROM `odin_atlas_task_instance_lineage_nodes`
        WHERE `instance_guid` = #{instanceGuid}
        LIMIT 1
    </select>

    <select id="queryByTaskGuidAndExpectTime" resultMap="InstanceLineageNodeMap">
        SELECT
            instance_node.`guid`,
            instance_node.`instance_guid`,
            instance_node.`node_name`,
            instance_node.`is_source`
        FROM `odin_atlas_task_instance_lineage_nodes` AS instance_node
                 JOIN `hydra_task_instances` AS task_instance
                      ON task_instance.`guid` = instance_node.`instance_guid`
        WHERE task_instance.`task_guid` = #{taskGuid}
          AND task_instance.`expect_time` = #{expectTime}
        LIMIT 1
    </select>

    <select id="queryByTaskGuidAndBusinessTime" resultMap="InstanceLineageNodeMap">
        SELECT
            instance_node.`guid`,
            instance_node.`instance_guid`,
            instance_node.`node_name`,
            instance_node.`is_source`
        FROM `odin_atlas_task_instance_lineage_nodes` AS instance_node
                 JOIN `hydra_task_instances` AS task_instance
                      ON task_instance.`guid` = instance_node.`instance_guid`
        WHERE task_instance.`task_guid` = #{taskGuid}
          AND task_instance.`business_time` = #{businessTime}
        LIMIT 1
    </select>

    <select id="fetchDependencyBlockages" resultType="com.walnut.odin.conduct.schedule.entity.GenericDependencyBlockage">
        SELECT
            child_node.`instance_guid` AS `instanceGuid`,
            parent_instance.`guid`     AS `dependentInstanceGuid`
        FROM `odin_atlas_task_instance_lineage_nodes` AS child_node
                 JOIN `odin_atlas_task_instance_lineage_adjacent` AS instance_edge
                      ON instance_edge.`guid` = child_node.`guid`
                 JOIN `odin_atlas_task_instance_lineage_nodes` AS parent_node
                      ON parent_node.`guid` = instance_edge.`parent_guid`
                 JOIN `hydra_task_instances` AS parent_instance
                      ON parent_instance.`guid` = parent_node.`instance_guid`
        WHERE child_node.`instance_guid` IN
        <foreach collection="instanceGuids" item="instanceGuid" open="(" separator="," close=")">
            #{instanceGuid}
        </foreach>
          AND (
              parent_instance.`run_status` IS NULL
              OR parent_instance.`run_status` != #{finishedStatus}
          )
    </select>

</mapper>
