<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walnut.odin.task.mapper.InstanceExecMapper">

    <resultMap id="InstanceExecMap" type="com.walnut.odin.conduct.entity.GenericInstanceExec">
        <result column="id"                     property="id"/>
        <result column="task_guid"              property="taskGuid"/>
        <result column="instance_guid"          property="instanceGuid"/>
        <result column="task_name"              property="taskName"/>
        <result column="instance_name"          property="instanceName"/>
        <result column="processor_queue"        property="processorQueue"/>
        <result column="executed_processor"     property="executedProcessor"/>
        <result column="image_path"             property="imagePath"/>
        <result column="cluster_name"           property="clusterName"/>
        <result column="exec_state"             property="execState"/>
        <result column="current_retry_number"   property="currentRetryNumber"/>
        <result column="retry_times"            property="retryTimes"/>
        <result column="start_time"             property="startTime"/>
        <result column="run_time"               property="runTime"/>
        <result column="finish_time"            property="finishTime"/>
    </resultMap>

    <sql id="ExecStateOrderByCurrent">
        CASE exec_state
            WHEN 'Submitted' THEN 1
            WHEN 'Running' THEN 2
            WHEN 'Success' THEN 10
            WHEN 'Fail' THEN 10
            WHEN 'Killed' THEN 10
            ELSE 0
        END
    </sql>

    <sql id="ExecStateOrderByTarget">
        CASE #{execState}
            WHEN 'Submitted' THEN 1
            WHEN 'Running' THEN 2
            WHEN 'Success' THEN 10
            WHEN 'Fail' THEN 10
            WHEN 'Killed' THEN 10
            ELSE 0
        END
    </sql>

    <insert id="insert" parameterType="com.walnut.odin.conduct.entity.GenericInstanceExec" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO odin_task_instance_exec (
            task_guid,
            instance_guid,
            task_name,
            instance_name,
            processor_queue,
            executed_processor,
            image_path,
            cluster_name,
            exec_state,
            current_retry_number,
            retry_times,
            start_time,
            run_time,
            finish_time
        ) VALUES (
                     #{taskGuid},
                     #{instanceGuid},
                     #{taskName},
                     #{instanceName},
                     #{processorQueue},
                     #{executedProcessor},
                     #{imagePath},
                     #{clusterName},
                     #{execState},
                     #{currentRetryNumber},
                     #{retryTimes},
                     #{startTime},
                     #{runTime},
                     #{finishTime}
                 )
    </insert>

    <select id="queryByInstanceGuid" resultMap="InstanceExecMap">
        SELECT
            id,
            task_guid,
            instance_guid,
            task_name,
            instance_name,
            processor_queue,
            executed_processor,
            image_path,
            cluster_name,
            exec_state,
            current_retry_number,
            retry_times,
            start_time,
            run_time,
            finish_time
        FROM odin_task_instance_exec
        WHERE instance_guid = #{instanceGuid}
        LIMIT 1
    </select>

    <select id="fetchByInstanceGuid" resultMap="InstanceExecMap">
        SELECT
            id,
            task_guid,
            instance_guid,
            task_name,
            instance_name,
            processor_queue,
            executed_processor,
            image_path,
            cluster_name,
            exec_state,
            current_retry_number,
            retry_times,
            start_time,
            run_time,
            finish_time
        FROM odin_task_instance_exec
        WHERE instance_guid = #{instanceGuid}
        ORDER BY current_retry_number DESC, id DESC
    </select>

    <select id="queryByInstanceGuidAndRetry" resultMap="InstanceExecMap">
        SELECT
            id,
            task_guid,
            instance_guid,
            task_name,
            instance_name,
            processor_queue,
            executed_processor,
            image_path,
            cluster_name,
            exec_state,
            current_retry_number,
            retry_times,
            start_time,
            run_time,
            finish_time
        FROM odin_task_instance_exec
        WHERE instance_guid = #{instanceGuid}
          AND current_retry_number = #{currentRetryNumber}
        LIMIT 1
    </select>

    <update id="updateStateByInstanceGuid" parameterType="com.walnut.odin.conduct.entity.GenericInstanceExec">
        UPDATE odin_task_instance_exec
        <set>
            <if test="execState != null and execState != ''">
                exec_state = #{execState},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="runTime != null">
                run_time = #{runTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
            <if test="currentRetryNumber != null">
                current_retry_number = #{currentRetryNumber},
            </if>
        </set>
        WHERE instance_guid = #{instanceGuid}
    </update>

    <update id="updateStateByInstanceGuidAndRetry" parameterType="com.walnut.odin.conduct.entity.GenericInstanceExec">
        UPDATE odin_task_instance_exec
        <set>
            <if test="execState != null and execState != ''">
                exec_state = #{execState},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="runTime != null">
                run_time = #{runTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
            <if test="imagePath != null and imagePath != ''">
                image_path = #{imagePath},
            </if>
            <if test="executedProcessor != null and executedProcessor != ''">
                executed_processor = #{executedProcessor},
            </if>
        </set>
        WHERE instance_guid = #{instanceGuid}
          AND current_retry_number = #{currentRetryNumber}
    </update>

    <update id="updateStateByInstanceGuidAndRetryFields">
        UPDATE odin_task_instance_exec
        <set>
            <if test="execState != null and execState != ''">
                exec_state = #{execState},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="runTime != null">
                run_time = #{runTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
        </set>
        WHERE instance_guid = #{instanceGuid}
          AND current_retry_number = #{currentRetryNumber}
    </update>

    <update id="updateStateRetryMonotonic">
        UPDATE odin_task_instance_exec
        <set>
            <if test="execState != null and execState != ''">
                exec_state = #{execState},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="runTime != null">
                run_time = #{runTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
        </set>
        WHERE instance_guid = #{instanceGuid}
          AND current_retry_number = #{currentRetryNumber}
          AND (
              <include refid="ExecStateOrderByCurrent"/> <![CDATA[ < ]]> <include refid="ExecStateOrderByTarget"/>
              OR exec_state = #{execState}
          )
    </update>

    <update id="updateImagePathByInstanceGuidAndRetry">
        UPDATE odin_task_instance_exec
        SET image_path = #{imagePath}
        WHERE instance_guid = #{instanceGuid}
          AND current_retry_number = #{currentRetryNumber}
    </update>

    <update id="updateExecutedProcessorByInstanceGuidAndRetry">
        UPDATE odin_task_instance_exec
        SET executed_processor = #{executedProcessor}
        WHERE instance_guid = #{instanceGuid}
          AND current_retry_number = #{currentRetryNumber}
    </update>

</mapper>
