<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walnut.odin.atlas.mapper.QueueStratumMapper">

    <select id="querySegmentName" resultType="java.lang.String">
        SELECT
            `segment_name`
        FROM
            `hydra_atlas_queue_stratum`
        WHERE
            `vgraph_guid`     = #{vgraphGuid}
          AND `stratum_id`  = #{stratumId}
          AND `runtime_priority` = #{runtimePriority}
    </select>

    <select id="countStratum" resultType="java.lang.Integer">
        SELECT
            `stratum_id`
        FROM
            `hydra_atlas_queue_stratum`
        WHERE
            `vgraph_guid` = #{vgraphGuid}
        ORDER BY
            `stratum_id` DESC
            LIMIT 1
    </select>

    <select id="countPriority" resultType="java.lang.Integer">
        SELECT
            `runtime_priority`
        FROM
            `hydra_atlas_queue_stratum`
        WHERE
            `vgraph_guid` = #{vgraphGuid}
          AND `stratum_id` = #{stratumId}
        ORDER BY
            `runtime_priority` DESC
            LIMIT 1
    </select>

    <insert id="put">
        INSERT INTO `hydra_atlas_queue_stratum`
        ( `runtime_priority`,
          `stratum_id`,
          `segment_name`,
          `vgraph_guid` )
        VALUES
            ( #{runtimePriority},
              #{stratumId},
              #{segmentName},
              #{vgraphGuid} )
    </insert>

</mapper>