<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walnut.odin.formation.source.FormationGroupTaskMapper">

    <resultMap id="FormationGroupTaskMap" type="com.walnut.odin.formation.entity.GenericGroupTask">
        <result column="id" property="id"/>
        <result column="guid" property="guid"/>
        <result column="formation_guid" property="formationGuid"/>
        <result column="task_guid" property="taskGuid"/>
        <result column="task_name" property="taskName"/>
        <result column="schedule_type" property="scheduleType"/>
        <result column="sequence_no" property="sequenceNo"/>
        <result column="priority" property="priority"/>
        <result column="enable" property="enable"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="FormationGroupTaskColumns">
        id,
        guid,
        formation_guid,
        task_guid,
        task_name,
        schedule_type,
        sequence_no,
        priority,
        enable,
        create_time,
        update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="task.id">
        INSERT INTO odin_formation_group_tasks (
            guid,
            formation_guid,
            task_guid,
            task_name,
            schedule_type,
            sequence_no,
            priority,
            enable
        ) VALUES (
            #{task.guid},
            #{task.formationGuid},
            #{task.taskGuid},
            #{task.taskName},
            #{task.scheduleType},
            #{task.sequenceNo},
            #{task.priority},
            #{task.enable}
        )
    </insert>

    <select id="selectByGuid" resultMap="FormationGroupTaskMap">
        SELECT
            <include refid="FormationGroupTaskColumns"/>
        FROM odin_formation_group_tasks
        WHERE guid = #{guid}
        LIMIT 1
    </select>

    <select id="selectByFormationGuidAndTaskGuid" resultMap="FormationGroupTaskMap">
        SELECT
            <include refid="FormationGroupTaskColumns"/>
        FROM odin_formation_group_tasks
        WHERE formation_guid = #{formationGuid}
          AND task_guid = #{taskGuid}
        LIMIT 1
    </select>

    <select id="countEnabledByFormationGuid" resultType="long">
        SELECT COUNT(1)
        FROM odin_formation_group_tasks
        WHERE formation_guid = #{formationGuid}
          AND enable = 1
    </select>

    <select id="fetchEnabledByFormationGuid0" resultMap="FormationGroupTaskMap">
        SELECT
            <include refid="FormationGroupTaskColumns"/>
        FROM odin_formation_group_tasks
        WHERE formation_guid = #{formationGuid}
          AND enable = 1
        ORDER BY sequence_no ASC, id ASC
    </select>

    <select id="countByFormationGuid" resultType="long">
        SELECT COUNT(1)
        FROM odin_formation_group_tasks
        WHERE formation_guid = #{formationGuid}
        <if test="enable != null">
          AND enable = #{enable}
        </if>
    </select>

    <sql id="FormationGroupTaskWhere">
        WHERE formation_guid = #{formationGuid}
        <if test="enable != null">
          AND enable = #{enable}
        </if>
        <if test="scheduleType != null and scheduleType != ''">
          AND schedule_type = #{scheduleType}
        </if>
        <if test="taskKeyword != null and taskKeyword != ''">
          AND (
              task_guid = #{taskKeyword}
              OR task_name LIKE CONCAT('%', #{taskKeyword}, '%')
          )
        </if>
    </sql>

    <select id="countByFormationGuidWithFilters" resultType="long">
        SELECT COUNT(1)
        FROM odin_formation_group_tasks
        <include refid="FormationGroupTaskWhere"/>
    </select>

    <select id="listByFormationGuid0" resultMap="FormationGroupTaskMap">
        SELECT
            <include refid="FormationGroupTaskColumns"/>
        FROM odin_formation_group_tasks
        WHERE formation_guid = #{formationGuid}
        <if test="enable != null">
          AND enable = #{enable}
        </if>
        ORDER BY sequence_no ASC, id ASC
    </select>

    <select id="pageByFormationGuid0" resultMap="FormationGroupTaskMap">
        SELECT
            <include refid="FormationGroupTaskColumns"/>
        FROM odin_formation_group_tasks
        WHERE formation_guid = #{formationGuid}
        <if test="enable != null">
          AND enable = #{enable}
        </if>
        ORDER BY sequence_no ASC, id ASC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="pageByFormationGuidWithFilters0" resultMap="FormationGroupTaskMap">
        SELECT
            <include refid="FormationGroupTaskColumns"/>
        FROM odin_formation_group_tasks
        <include refid="FormationGroupTaskWhere"/>
        ORDER BY sequence_no ASC, id ASC
        LIMIT #{offset}, #{limit}
    </select>

    <update id="updateEnable">
        UPDATE odin_formation_group_tasks
        SET enable = #{enable}
        WHERE guid = #{guid}
    </update>

    <delete id="removeByGuid">
        DELETE FROM odin_formation_group_tasks
        WHERE guid = #{guid}
    </delete>

    <delete id="removeByFormationGuids">
        DELETE FROM odin_formation_group_tasks
        WHERE formation_guid IN
        <foreach collection="formationGuids" item="formationGuid" open="(" separator="," close=")">
            #{formationGuid}
        </foreach>
    </delete>
</mapper>
