<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walnut.sparta.mapper.ServiceNodeMapper">


    <select id="getPathInformation" resultType="com.pinecone.hydra.unit.udsn.GUIDDistributedScopeNode">
        SELECT hn2.id, hn2.uuid, hn2.parent_uuid, hn2.base_data_uuid, hn2.node_metadata_uuid, hn2.type
        FROM hydra_service_node_tree hn
                 INNER JOIN hydra_service_node_tree hn2
        WHERE hn.parent_uuid = hn2.uuid AND hn.uuid=#{UUID}
    </select>
</mapper>
